In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://retail_user:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm

env: DATABASE_URL=postgresql://retail_user:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm

In [4]:
%%sql

SELECT * FROM product_dim LIMIT 10;

10 rows affected.

[(861, 39, '"Cobra Junior Kids\' Complete Set (Height 53\'\' "', '', 199.99, 'http://images.acmesports.sports/Cobra+Junior+Kids%27+Complete+Set+%28Height+53%27%27+and+above%29', 'Team Shop', 6, 'Outdoors'),
 (862, 39, '"Cobra Junior Kids\' Complete Set (Height 46\'\' "', '', 179.99, 'http://images.acmesports.sports/Cobra+Junior+Kids%27+Complete+Set+%28Height+46%27%27+-+52%27%27%29', 'Team Shop', 6, 'Outdoors'),
 (863, 39, "Top Flite Kids' 2014 XLj Complete Set (Height", '', 129.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+2014+XLj+Complete+Set+%28Height+53%27%27+and...', 'Team Shop', 6, 'Outdoors'),
 (864, 39, "Top Flite Kids' 2014 XLj Complete Set (Height", '', 129.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+2014+XLj+Complete+Set+%28Height+53%27%27+and...', 'Team Shop', 6, 'Outdoors'),
 (865, 39, "Top Flite Kids' 2014 XLj Complete Set (Height", '', 109.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+2014+XLj+Complete+Set+%28Height+46%27%27+-+52%27%27%29', 'Team Shop', 6, 'Outdoors'),
 (866, 39, "Top Flite Kids' 2014 XLj Complete Set (Height", '', 109.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+2014+XLj+Complete+Set+%28Height+46%27%27+-+52%27%27%29', 'Team Shop', 6, 'Outdoors'),
 (867, 39, "Top Flite Kids' 2014 XLj Complete Set (Height", '', 109.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+2014+XLj+Complete+Set+%28Height+46%27%27+-+52%27%27%29', 'Team Shop', 6, 'Outdoors'),
 (868, 39, "Top Flite Kids' XLj Driver (Height 53'' and a", '', 34.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+XLj+Driver+%28Height+53%27%27+and+above%29', 'Team Shop', 6, 'Outdoors'),
 (869, 39, "Top Flite Kids' XLj 7 Iron (Height 53'' and a", '', 19.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+XLj+7+Iron+%28Height+53%27%27+and+above%29', 'Team Shop', 6, 'Outdoors'),
 (870, 39, "Top Flite Kids' XLj Sand Wedge (Height 53'' a", '', 19.99, 'http://images.acmesports.sports/Top+Flite+Kids%27+XLj+Sand+Wedge+%28Height+53%27%27+and+above%29', 'Team Shop', 6, 'Outdoors')]

In [5]:
%%sql

SELECT * FROM daily_product_revenue LIMIT 10;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
10 rows affected.

[('2014-01-04 00:00:00.0', 'PROCESSING', 793, 14.99),
 ('2014-01-04 00:00:00.0', 'ON_HOLD', 835, 31.99),
 ('2014-01-04 00:00:00.0', 'SUSPECTED_FRAUD', 502, 50.0),
 ('2014-01-04 00:00:00.0', 'PENDING_PAYMENT', 273, 55.98),
 ('2014-01-04 00:00:00.0', 'PROCESSING', 365, 59.99),
 ('2014-01-04 00:00:00.0', 'COMPLETE', 564, 60.0),
 ('2014-01-04 00:00:00.0', 'PENDING_PAYMENT', 282, 63.98),
 ('2014-01-04 00:00:00.0', 'COMPLETE', 828, 63.98),
 ('2014-01-04 00:00:00.0', 'PENDING_PAYMENT', 728, 65.0),
 ('2014-01-04 00:00:00.0', 'COMPLETE', 728, 65.0)]

In [6]:
%%sql

SELECT pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date,
    round(sum(dpr.revenue), 2) AS revenue
FROM daily_product_revenue AS dpr
    JOIN product_dim AS pd
        ON dpr.order_item_product_id = pd.product_id
WHERE dpr.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date
ORDER BY dpr.order_date,
    revenue DESC
LIMIT 10

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
10 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', 45, 'Fishing', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 5599.72),
 (191, "Nike Men's Free 5.0+ Running Shoe", 9, 'Cardio Equipment', 3, 'Footwear', '2013-07-25 00:00:00.0', 5099.49),
 (957, "Diamondback Women's Serene Classic Comfort Bi", 43, 'Camping & Hiking', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 4499.7),
 (365, 'Perfect Fitness Perfect Rip Deck', 17, 'Cleats', 4, 'Apparel', '2013-07-25 00:00:00.0', 3359.44),
 (1073, 'Pelican Sunstream 100 Kayak', 48, 'Water Sports', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2999.85),
 (1014, "O'Brien Men's Neoprene Life Vest", 46, 'Indoor/Outdoor Games', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2798.88),
 (403, "Nike Men's CJ Elite 2 TD Football Cleat", 18, "Men's Footwear", 4, 'Apparel', '2013-07-25 00:00:00.0', 1949.85),
 (502, "Nike Men's Dri-FIT Victory Golf Polo", 24, "Women's Apparel", 5, 'Golf', '2013-07-25 00:00:00.0', 1650.0),
 (627, "Under Armour Girls' Toddler Spine Surge Runni", 29, 'Shop By Sport', 5, 'Golf', '2013-07-25 00:00:00.0', 1079.73),
 (226, 'Bowflex SelectTech 1090 Dumbbells', 11, 'Fitness Accessories', 3, 'Footwear', '2013-07-25 00:00:00.0', 599.99)]

In [8]:
%%sql

CREATE OR REPLACE VIEW daily_product_revenue_v
AS
SELECT pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date,
    round(sum(dpr.revenue), 2) AS revenue
FROM daily_product_revenue AS dpr
    JOIN product_dim AS pd
        ON dpr.order_item_product_id = pd.product_id
WHERE dpr.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date
ORDER BY dpr.order_date,
    revenue DESC

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
Done.

[]

In [9]:
%%sql

SELECT * FROM daily_product_revenue_v LIMIT 10;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
10 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', 45, 'Fishing', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 5599.72),
 (191, "Nike Men's Free 5.0+ Running Shoe", 9, 'Cardio Equipment', 3, 'Footwear', '2013-07-25 00:00:00.0', 5099.49),
 (957, "Diamondback Women's Serene Classic Comfort Bi", 43, 'Camping & Hiking', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 4499.7),
 (365, 'Perfect Fitness Perfect Rip Deck', 17, 'Cleats', 4, 'Apparel', '2013-07-25 00:00:00.0', 3359.44),
 (1073, 'Pelican Sunstream 100 Kayak', 48, 'Water Sports', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2999.85),
 (1014, "O'Brien Men's Neoprene Life Vest", 46, 'Indoor/Outdoor Games', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2798.88),
 (403, "Nike Men's CJ Elite 2 TD Football Cleat", 18, "Men's Footwear", 4, 'Apparel', '2013-07-25 00:00:00.0', 1949.85),
 (502, "Nike Men's Dri-FIT Victory Golf Polo", 24, "Women's Apparel", 5, 'Golf', '2013-07-25 00:00:00.0', 1650.0),
 (627, "Under Armour Girls' Toddler Spine Surge Runni", 29, 'Shop By Sport', 5, 'Golf', '2013-07-25 00:00:00.0', 1079.73),
 (226, 'Bowflex SelectTech 1090 Dumbbells', 11, 'Fitness Accessories', 3, 'Footwear', '2013-07-25 00:00:00.0', 599.99)]

In [10]:
%%sql

SELECT count(*) FROM daily_product_revenue_v;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
1 rows affected.

[(9120,)]